@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>ABC Hospital</h3>

<p>ABC Hospital was founded in the city of Kochi, in association with Adlux Angamaly, the ABC Adlux Hospital near Cochin International Airport. It was founded by Prathap C. Reddy in 1983 as the first corporate health care in India. The first branch at Chennai was inaugurated by the then President of India Zail Singh.</p>

