@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ABC Hospital<br />
    Technopark Road<br />
    <abbr title="Phone">P:0474-234567</abbr>
    
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">abcSupport@gmail.com</a><br />
    <strong>Emergency:</strong> <a href="mailto:Marketing@example.com">abcEmergency@gmail.com</a>
</address>